body {
    background-image: url("../img/gohan.gif");
    background-size: cover;
    background-position: center;
    height: 70vh;
    font-family: "Indie Flower", cursive;
}

h1 {
    text-align: start;
    color: #EFEFEF;
    margin: 1% 2%;
}
#fecha-hoy {
    color: white;
    text-align: center;
    font-size:larger;
    margin: 0%;
}
#fecha-hoy h2 {
    margin: 0;
}
ol {
    list-style: none;
    padding: 0%;
}
li {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    word-wrap: break-word; /*Esto aparentemente hace que si la palabra es muy larga la corte y no se salga del contenido ni me ponga un scroll, o cosas feas*/
    
}

#linea{
    background-color: white;
    margin: 1% 5%;
    margin-top: 0%;
    height: 1px;
}
main {

    background: rgba(1, 1, 1, 0.5);
    padding: 2%;
    margin: 1% 5%;
    margin-top: 0;
    height: 80%;
    
}
#tarjetitas {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.tarjeta {
    border: 2px solid #EFEFEF;
    padding: 2%;
    border-radius: 5px;
    background-color: #D9D9D9;
    box-sizing: border-box;
    height: 80%;
    width: 20%;
    font-family: "Indie Flower", cursive;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}
h3 {
    color:  #3F3F3F;
    text-shadow: #EFEFEF 1px 1px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button-next{
    font-family: "Indie Flower", cursive;
    padding: 1%;
    border-radius: 5px;
    background-color: #FAFAFA;
    color:  #3F3F3F;
    border: 2px solid #111111;
    text-decoration: none;
}

.tarjeta header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tarjeta .content {
    height: 60%;
    margin: 5%;
    overflow-y: auto;
}
.list-item-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5% 0%;

}